# base
ipython
fastapi[standard]
black
meval
asgiref
rich
tqdm

# ollama
ollama==0.3.3

# mongodb
pymongo

# chromadb
chromadb-client

# langchain
langchain
langchain-community
langchain-chroma
langgraph
langchain-experimental

# langchain tools
plumbum
